<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <uses-feature android:name="android.software.live_wallpaper" android:required="true" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Decor"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".presentation.activity.StaticActivity"
            android:theme="@style/Theme.Decor.Translucent"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.CategoryStaticActivity"
            android:exported="false"
            android:parentActivityName=".presentation.activity.MainActivity" />
        <activity
            android:name=".presentation.activity.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.activity.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Decor">
        </activity>

    </application>

</manifest>